page-login {
  .scroll-content {
    background-color: #f8f8f8;
  }

  .toolbar-md {
    padding: 0;
  }

  .toolbar-md .toolbar-background {
    background-color: white;
  }

  .scroll-content {
    overflow-y: hidden;
  }

  .login-button {
    width: 90%;
  }
}
