<ion-header>

  <ion-navbar>
    <ion-title>电影</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <section class="detailHeader">
    <div class="headBg" [style.background-image]="'url(' + processImgUrl(moviesProvider['movieDetail']['images']['medium']) + ')'">
    </div>
    <div class="poster">
      <img [src]="processImgUrl(moviesProvider['movieDetail']['images']['medium'])" alt="">
    </div>
  </section>
  <section class="detailIntro">
    <div class="title">
      <h1 class="f-fs20 f-thide2">{{moviesProvider.movieDetail.title}}</h1>
      <ion-icon *ngIf="!commentsProvider.myComment" name="ios-create-outline" class="f-fs24" tappable (click)="openPage(editCmtPage,'add',id,moviesProvider.movieDetail.title)"></ion-icon>
    </div>
    <div class="category f-thide">{{moviesProvider.movieDetail.year}} / <span *ngFor="let item of moviesProvider.movieDetail.countries">{{item}} / </span><span *ngFor="let item of moviesProvider.movieDetail.genres">{{item}} / </span></div>
    <div class="length">片长：{{moviesProvider.movieDetail.durations[0]}}</div>
    <div class="actors f-thide">影人：<span *ngFor="let item of moviesProvider.movieDetail.casts">{{item.name}} / </span></div>
    <div class="screenTime f-thide2">上映时间：<span *ngFor="let item of moviesProvider.movieDetail.pubdates">{{item}} / </span></div>
    <div class="summary">
      <div class="label f-fs12 s-fcAAA">剧情简介</div>
      <div class="cnt f-fs14">{{moviesProvider.movieDetail.summary}}</div>
    </div>
  </section>
  <section class="myCmt" *ngIf="hasLoggedIn&&commentsProvider.myComment">
    <h2 class="f-fs12 s-fcAAA">我的影评</h2>
    <ion-list>
      <ion-item class="m-comment-item">
        <div>
          <div class="comment-title f-thide">{{commentsProvider.myComment.movieName}}<ion-icon name="md-create" class="f-fs24 cmtEdit" tappable (click)="openPage(editCmtPage,'update',commentsProvider.myComment.commentId,commentsProvider.myComment.commentContent)"></ion-icon></div>
          <div class="comment-sub f-fs13">{{commentsProvider.myComment.accountId}}&nbsp;&nbsp;{{timestampToDate(commentsProvider.myComment.commentTime)}}</div>
          <p class="comment-article">{{commentsProvider.myComment.commentContent}}</p>
        </div>

        <div class="comment-below"><!--
        <span class="comment-view-count">
          <ion-icon name="md-eye"></ion-icon>
          {{comment['view']}}
        </span>
          <span class="comment-view-count">
          <ion-icon name="md-chatbubbles"></ion-icon>
          {{comment['comments']}}
        </span>-->
          <span class="comment-view-count">
          <ion-icon name="md-thumbs-up" (click)="vote(commentsProvider.myComment.commentId)"></ion-icon>
          {{commentsProvider.myComment.vote}}
        </span>
        </div>
      </ion-item>
    </ion-list>
  </section>
  <section class="hotCmt" *ngIf="commentsProvider.otherComments">
    <h2 class="f-fs12 s-fcAAA">精彩影评</h2>
    <ion-list>
      <ion-item class="m-comment-item" *ngFor="let comment of commentsProvider.otherComments">
        <div>
          <div class="comment-title">{{comment['movieName']}}</div>
          <div class="comment-sub f-fs13">{{comment['accountId']}}&nbsp;&nbsp;{{timestampToDate(comment['commentTime'])}}</div>
          <p class="comment-article">{{comment['commentContent']}}</p>
        </div>

        <div class="comment-below">
          <span class="comment-view-count">
          <ion-icon name="md-thumbs-up" (click)="vote(comment.commentId)"></ion-icon>
          {{comment['vote']}}
        </span>
        </div>
      </ion-item>
    </ion-list>
  </section>

</ion-content>
