// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
/* Reset */
@import "./common.scss";
body,html,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,header,menu,section,p,input,figure{padding:0;margin:0;}
body,textarea,select,input,button{font-family:"Helvetica Neue", Helvetica, STHeiTi, sans-serif; font-size:12px; color:#333;}
html,body{width:100%; height:100%; border:0;-webkit-text-size-adjust:none;-webkit-touch-callout:none;}
h1,h2,h3,h4,h5,h6{font-size:100%; font-weight:normal;}
em,i{font-style:normal;text-align:left;}
html,body,img,iframe{border:0;}
textarea{resize:none; overflow:auto;}
input:focus,textarea:focus{outline:none;}
ul, li, s{list-style:none;}
body,div,span,p,i,em,strong{cursor:default;}
a[hidefocus], button, input{outline:none;}
a,a:hover{text-decoration:none;}
a,a *{cursor:pointer;}
svg{width:100%; height:100%; fill:currentColor; font:inherit;}

/* Function */
.f-cb:after{display:block;visibility:hidden;clear:both;height:0;overflow:hidden;content:'.';}
.f-fl{float:left;}
.f-fr{float:right;}
.f-ib{display:inline-block;}
.f-img, .f-blk{display:block; width:100%;}
.f-blk{height:100%;}
.f-link{position:absolute !important; top:0; left:0; right:0; bottom:0; display:block; width:100%; height:100%;}
.f-pr{position:relative;}
.f-pa{position:absolute !important;}
.f-hc{position:absolute !important; left:50%; -webkit-transform:translateX(-50%); -moz-transform:translateX(-50%); -ms-transform:translateX(-50%); transform:translateX(-50%); }/* 左右居中 */
.f-vc{position:absolute !important; top:50%; -webkit-transform:translateY(-50%); -moz-transform:translateY(-50%); -ms-transform:translateY(-50%); transform:translateY(-50%);}/* 上下居中 */
.f-vhc{position:absolute !important; top:50%; left:50%; -webkit-transform:translate(-50%, -50%); -moz-transform:translate(-50%, -50%); -ms-transform:translate(-50%, -50%); transform:translate(-50%, -50%);}/* 上下左右 居中 */
.f-hide,.js-hide{display:none !important;}
.f-fvc{
  /* flex 多行居中排版，需要定高 */
  display:-webkit-box; display:-webkit-flex; display:flex;
  -webkit-box-pack:center; -webkit-justify-content:center; -ms-flex-pack:center; justify-content:center;
  -webkit-box-orient:vertical; -webkit-box-direction:vertical; -webkit-flex-direction:column; flex-direction:column;
}
.f-vhide,.js-vhide{visibility:hidden;}
.f-oh{overflow:hidden;}
.f-tdu, .f-tdu:hover{ text-decoration:underline;}
.f-pre{word-wrap:break-word; word-break:break-all;}
.f-thide{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.f-thide2{overflow:hidden; text-overflow:ellipsis;display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical;}
.f-thide3{overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:3;-webkit-box-orient:vertical;}
.f-nw{white-space:nowrap;}
.f-tid{text-indent:-9999px;}
.f-brk{word-wrap:break-word; word-break:break-all; white-space:normal;}
.f-vama *{vertical-align:middle;}
a, .f-dislight{-webkit-tap-highlight-color:rgba(0,0,0,0);}
.f-cp{cursor:pointer;}
.f-dft{cursor:default;}
.f-tc{text-align:center;}
.f-tr{text-align:right;}
.f-bd, .u-type{position:relative;}
.f-bd *, .u-type *{position:relative; z-index:2;}
.f-bd:after, .u-type:after{position:absolute; z-index:10; content:''; top:0; left:0; width:200%; height:200%; pointer-events:none;
  -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; box-sizing:border-box;
  -webkit-transform:scale(0.5); -moz-transform:scale(0.5); -ms-transform:scale(0.5); transform:scale(.5);
  -webkit-transform-origin:top left; -moz-transform-origin:top left; -ms-transform-origin:top left;  transform-origin:top left;
}
.f-noplaybtn::-webkit-media-controls-start-playback-button{display:none;}

/* for dpr = 1 */
.u-txt:after, .u-type:after{
  position:absolute; z-index:2; content:''; top:0; left:0; pointer-events:none;
  width:100%; height:100%; -webkit-box-sizing:border-box; box-sizing:border-box;
  border:1px solid rgba(0,0,0,0.15);
}
.u-txt, .u-txt:after{border-radius:4px;}

.f-blk{display:block; width:100%; height:100%;}
.f-sep{margin-left:5px; margin-right:5px;}
.f-sep10{margin-left:10px;margin-right:10px;}
.f-mgt5{margin-top:5px;}
.f-mgt10{margin-top:10px;}
.f-mgt15{margin-top:15px;}
.f-mgt20{margin-top:20px;}

/* BackgroundColor */

.s-bgc0{background-color:#fff;}
.s-bgc1{background-color:#f8f8f8;}
.s-bgc3{background-color:#fbfcfd;}/* app背景色 */

/* Font */
.f-ff0{font-family:Arial, Helvetica, sans-serif;}
.f-ff1{font-family:simsun,\5b8b\4f53;}
.f-fw0{font-weight:normal;}
.f-fw1{font-weight:bold;}

.f-fs9{font-size:9px;}
.f-fs10{font-size:10px;}
.f-fs11{font-size:11px;}
.f-fs0, .f-fs12{font-size:12px;}
.f-fs13{font-size:13px;}
.f-fs1, .f-fs14{font-size:14px;}
.f-fs15{font-size:15px;}
.f-fs2, .f-fs16{font-size:16px;}
.f-fs3, .f-fs17{font-size:17px;}
.f-fs18{font-size:18px;}
.f-fs20{font-size:20px;}
.f-fs24{font-size:24px;}

.s-fc0{color:#fff;}
.s-fc1{color:#333;}
.s-fc2, a{color:#0c73c2;}/* blue */
.s-fc3{color:#666;}
.s-fc4{color:#999;}
.s-fc5{color:#e3534b;}/* red */
.s-fcAAA{color:#aaa;}

/* for dpr >= 2 */
@media screen and (-webkit-min-device-pixel-ratio: 2){
  .u-txt:after, .u-type:after{
    width:200%; height:200%;
    -webkit-transform:scale(0.5); -ms-transform:scale(0.5); transform:scale(0.5);
    -webkit-transform-origin:top left; -ms-transform-origin:top left; transform-origin:top left;
  }
  .u-txt, .u-txt:after{border-radius:8px;}
}
/* for dpr >= 3 */
@media screen and (-webkit-min-device-pixel-ratio:3){
  .u-txt:after, .f-bd:after, .u-type:after{
    width:300%; height:300%;
    -webkit-transform:scale(0.333333); -ms-transform:scale(0.333333); transform:scale(0.333333);
  }
  .u-txt, .u-txt:after{border-radius:12px;}
}
